@model IEnumerable<ExamenWebII.Models.Inventario>

@{
    ViewBag.Title = "Index";
}

<h2>Inventarios</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cantidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadMinima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CantidadMaxima)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.GravadoExcepto)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadMinima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CantidadMaxima)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.GravadoExcepto)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
